---
import Layout from "../../layouts/Layout.astro";
import PostContainer from "../../components/PostContainer";
import Cintapage from "../../components/Cintapage.astro";
const { pathname } = Astro.url;
---

<Layout title="Todos los post">
  <Cintapage title="Eventos" url={pathname} />
  <section class="flex justify-evenly flex-wrap p-2 sm:p-8 relative">
    <PostContainer client:only="react" />
  </section>
</Layout>
