---
import Layout from "../../layouts/Layout.astro";
import CintaPage from "../../components/Cintapage.astro";
---

<Layout title="Datos generales">
  <CintaPage />
  <div class="flex flex-col py-10 px-6 sm:px-80">
      
     <div class="container mx-auto flex flex-col lg:flex-row gap-8 pt-10">
          <div class="ms:pl-40 lg:order-1">
              <div class=" top-0 p-2 bg-white h-32 flex flex-col z-50 shadow-sm">
                  <img src="/logoCA.png" alt="Logo Cuerpo Academico" width="350px" style="size-70 rounded-lg sm:size-40"/>
              </div>
          </div>
          <div class="lg:order-1">
              <div class="mb-20">
                  <h4> Cuerpo Académico - Computo Distribuido</h2>
                  <span class="text-xs">En consolidación</span>
                  <div class="pt-6">  
                      <h6 class="border-t">Líneas de investigación: Sistemas Distribuidos y Base de Datos</h6>
                  </div>
              </div>
          </div>
      </div>
          
          <div class="flex py=5">
               <p class="font-sans text-justify">El cuerpo académico de la carrera de Ingeniería en Sistemas Computacionales denominado "Cómputo Distribuido" es integrado por docentes-investigadores del Instituto Tecnológico Superior de los Ríos con la intención de contribuir en la calidad académica de sus egresados y a la innovación tecnológica de la región y de nuestro país. Como todo cuerpo académico, este tiene que desempeñar funciones relacionadas con la realización de proyectos de investigación que atiendan necesidades concretas de los sectores productivos de la región y participen de forma activa en programas de asesorías y consultorías a los mismos.</p> 
               </div>
          <div class="flex py-3">
               <p class="pt-8 pb-10 font-sans text-justify">El cuerpo académico de "Cómputo Distribuido" inicio su formación en el mes de febrero del 2012, y tiene entre sus metas alcanzar el estatus de en consolidación a través de un plan de trabajo de 2 años, que incluye actividades de docencia, investigación, desarrollo tecnológico y vinculación con los sectores productivos y de servicios de la región. Las actividades de este cuerpo académico centran sus objetivos en 2 líneas de investigación: Sistemas Distribuidos y Base de datos.</p>

          </div>
     </div>

</Layout>
