---

---

<div class="flex flex-col place-content-center items-center h-1/2">
  <p class="w-1/2 my-3 text-center">
    Profesor-investigador del TecNM Campus de los Ríos. Miembro del cuerpo
    académico computo distribuido. Acredita numerosas contribuciones a congresos
    y participaciones el desarrollo de proyectos de investigación de PRODEP y
    TecNM. Publicación de 10 artículos nacionales e internacionales, artículos
    indexados en revistasde prestigio.
  </p>
  <div class="flex h-1/3">
    <img
      class="rounded size-11 mr-5 bg-gradient-to-r from-cyan-500 to-blue-500"
      src=""
      alt="si"
    />
    <div class="flex-col">
      <h3 class="text-sky-700">Ing. Luis Antonio Lopez Gomez</h3>
      <h4>Profesor investigador</h4>
    </div>
  </div>
</div>
