---
interface Props {
  title?: string;
  url?: any;
}
const { title, url } = Astro.props;
import { faHouse } from "@fortawesome/free-solid-svg-icons";
import { FontAwesomeIcon } from "@fortawesome/react-fontawesome";
---

<div
  class="flex flex-col sm:flex-row sm:px-44 px-10 w-full h-20 items-center justify-between bg-gray-200"
>
  <h3>{title}</h3>

  <i class="flex">
    <a href="/" class="hover:text-blue-400 transition-colors duration-300 pr-1"
      ><FontAwesomeIcon icon={faHouse} className="size-5" title="Inicio" /></a
    >{url}
  </i>
</div>
