
 <div class="flex px-80 w-full h-20 items-center justify-between bg-gray-300">
     <h1 class="font-semibold">Sección: Datos Generales</h1>
     <ul class="flex">
          <li class="hover:text-blue-400 transition-colors duration-300 pr-1">
               <a href="#">Inicio</a>
          </li>
          <li>/ Datos generales</li>
     </ul>
 </div>