---

---

<footer class="py-4 px-4 mx-auto lg:py-10 lg:px-6">
        <div class="container mx-auto grid grid-cols-1 lg:grid-cols-3 gap-8">
            <div>
              <h2 class="text-lg font-semibold">Ubicación</h2>
              <div class="border">
                <h3>Direccion del C.A.</h3>
                <h3>52 229 775 2000 + Extensión</h3>
              </div>
              <div class="lg:col-span-1 flex items-center">
                  <div class="flex space-x-4">
                      <a href="https://www.facebook.com" class="hover:text-gray-400 transition-colors duration-300">
                        <i class="fab fa-facebook">F</i>
                    </a>
                </div>
                <div class="flex space-x-4">
                    <a href="https://twitter.com" class="hover:text-gray-400 transition-colors duration-300">
                        <i class="fab fa-Twitter">T</i>
                    </a>
                </div>
                <div class="flex space-x-4">
                    <a href="https://www.youtube.com" class="hover:text-gray-400 transition-colors duration-300">
                        <i class="fab fa-Youtube">Y</i>
                    </a>
                </div>
                <div class="flex space-x-4">
                    <a href="https://www.instagram.com" class="hover:text-gray-400 transition-colors duration-300">
                        <i class="fab fa-Instagram">I</i>
                    </a>
                </div>
            </div>
        </div>
            <div>
              <h2 class="text-lg font-semibold">
                <a href="https://www.uv.mx/transparencia/">Transparencia</a>
              </h2>
              <h3>Información financiera presupuestal</h3>
              <h3>Gobierno Abierto</h3>
              <h3>Avisos de Privacidad</h3>
            </div>
            <div>
              <h2 class="text-lg font-semibold">
                <a href="https://www.uv.mx/legislacion/files/2017/07/Codigo-de-etica-de-la-Universidad-Veracruzana.pdf">Código de ética</a>
            </h2>
            </div>
          </div>
          <div class="border">@ 2024 Universidad Veracruzana. Todos los derechos reservados</div>
</footer>
