---

---
<div class="relative inline-block text-left group">
  <button class="inline-flex items-center justify-center px-4 text-black transition duration-150 ease-in-out">
    Dropdown
  </button>

  <div class="hidden absolute right-0 mt-1 origin-top-right bg-white border border-gray-200 divide-y divide-gray-100 rounded-md shadow-lg group-hover:block">
    <a href="#" class="block px-4 py-2 text-sm leading-5 text-gray-700 hover:bg-gray-100 focus:outline-none focus:bg-gray-100 focus:text-gray-800">Link 1</a>
    <a href="#" class="block px-4 py-2 text-sm leading-5 text-gray-700 hover:bg-gray-100 focus:outline-none focus:bg-gray-100 focus:text-gray-800">Link 2</a>
    <a href="#" class="block px-4 py-2 text-sm leading-5 text-gray-700 hover:bg-gray-100 focus:outline-none focus:bg-gray-100 focus:text-gray-800">Link 3</a>
  </div>
</div>
