---
import Menudropdown from "../components/Menudropdown.astro";
const { pathname } = Astro.url;
---

<nav class="flex-grow flex flex-row justify-evenly">
  <a
    href="/"
    class:list={[
      "border-blue-600",
      { "border-b-2 text-blue-600": pathname === "/" },
    ]}>Inicio</a
  >
  <Menudropdown />
  <Menudropdown />
  <Menudropdown />
  <Menudropdown />
  <Menudropdown />
  <Menudropdown />
</nav>
