---
interface Props {
  dropwdownItems: {
    name: string;
    items: { title: string; to: string }[];
    test: string;
  }[];
}
import Menudropdown from "../components/Menudropdown.astro";
const { pathname } = Astro.url;
const { dropwdownItems } = Astro.props;
---

<nav class="flex-grow flex flex-row justify-evenly">
  <a
    href="/"
    class:list={[
      "border-blue-600",
      { "border-b-2 text-blue-600": pathname === "/" },
    ]}>Inicio</a
  >
  {
    dropwdownItems.map((value) => (
      <Menudropdown name={value.name} items={value.items} test={value.test} />
    ))
  }
</nav>
