---

---

<div class="flex flex-col w-full h-32 px-40">
  <table class="table-auto text-sm">
    <thead class="h-10">
      <tr class="bg-cyan-500 text-white">
        <th class="px-4 text-start">Clave</th>
        <th class="px-4 text-start">Proyecto</th>
        <th class="px-4 text-start">Duracion</th>
        <th class="px-4 text-start">Director</th>
        <th class="px-4 text-start">Colaboradores</th>
        <th class="px-4 text-start">Tipo</th>
      </tr>
    </thead>
    <tbody>
      <tr class="bg-neutral-200 hover:bg-cyan-500 hover:text-white">
        <td class="p-2 text-start">5667.1 9-P </td>
        <td class="p-2 text-start"
          >Análisis y desarrollo de ontología para el fortalecimiento d el
          sector agrícola</td
        >
        <td class="p-2 text-start">01 de enero al 37 de diciembre de 2019</td>
        <td class="p-2 text-start">Dr. Fernando Pech May</td>
        <td class="p-2 text-start"
          >Manuel Segovia López, Edna Mariel Mil Chontal, Jorge Magaña Govea,
          Luis Antonio López Gómez</td
        >
        <td class="p-2 text-start">Externo</td>
      </tr>
    </tbody>
  </table>
</div>
