---
import { ViewTransitions } from "astro:transitions";
import NavBar from "../components/NavBar.astro";
import Footer from "../components/Footer.astro";
interface Props {
  title: string;
}
const { title } = Astro.props;
export const urlMain = "http://localhost:4321";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <ViewTransitions />
  </head>
  <body>
    <header
      class="text-white h-12 py-2 px-10 bg-blue-900 flex flex-row justify-between"
    >
      <span class="text-xl font-bold w-full sm:w-2/4"
        >TecNM campus de los rios</span
      >
      <nav class="hidden sm:flex">
        <a href="https://rios.tecnm.mx">Mi TecNM Ríos</a>
      </nav>
    </header>
    <div class="sticky top-0 p-2 bg-white h-32 flex flex-col z-50 shadow-sm">
      <img src="/logoCA.png" alt="Logo Cuerpo Academico" width="200px" />
      <NavBar
        dropwdownItems={[
          {
            name: "Cuerpo academico",
            items: [
              {
                title: "Datos generales",
                to: "/cuerpoacademico/datos-generales",
              },
              {
                title: "Lineas de generación y aplicación del conocimiento",
                to: "/cuerpoacademico/lineas-conocimiento",
              },
              {
                title: "Lineas de investigación",
                to: "/cuerpoacademico/lineas-investigacion",
              },
            ],
            test: "cuerpoacademico",
          },
          {
            name: "Miembros",
            items: [
              {
                title: "Fernando Pech May",
                to: "/miembros/1",
              },
              {
                title: "Edna Mariel Mil Chontal",
                to: "/miembros/2",
              },
              {
                title: "Jorge Magaña Govea",
                to: "/miembros/3",
              },
              {
                title: "Luis Antonio Lopez Gomez",
                to: "/miembros/4",
              },
            ],
            test: "miembros",
          },
        ]}
      />
    </div>
    <slot />

    <Footer />

    <style is:global>
      @tailwind base;
      @tailwind components;
      @tailwind utilities;

      @layer base {
        h1 {
          @apply text-2xl;
        }
        h2 {
          @apply text-xl;
        }
      }
      :root {
        --accent: 136, 58, 234;
        --accent-light: 224, 204, 250;
        --accent-dark: 49, 10, 101;
        --accent-gradient: linear-gradient(
          45deg,
          rgb(var(--accent)),
          rgb(var(--accent-light)) 30%,
          white 60%
        );
      }
      code {
        font-family:
          Menlo,
          Monaco,
          Lucida Console,
          Liberation Mono,
          DejaVu Sans Mono,
          Bitstream Vera Sans Mono,
          Courier New,
          monospace;
      }
      body {
        height: 100vh;
        width: 100vw;
        box-sizing: border-box;
        font-family: inherit;
      }

      footer {
        /* height: 300px; */
        height: auto;
        background-color: #f97316;
        color: white;
      }
      section {
        min-height: 500px;
      }
    </style>
  </body>
</html>
